---
---

@import "minima";

.post-list {
  margin-left: 150px;

  > li {
    min-height: 120px;
  }
}

.release-meta {
  float: left;
  margin-left: -150px;
  padding: 10px;
  width: 100px;
  text-align: center;

  &.release-stability-level {
    &-unkown {
      background-color: #eeeeee;
      color: #666666;
    }

    &-stable {
      background-color: teal;
    }
  }

  border: 6px solid;
  border-radius: 10px;
  &.release-available {
    &-false{
      border-color: #faebcc;
    }

    &-true {
      border-color: #d6e9c6;
    }
  }

  .release-score {
    display: block;
    font-size: 35pt;
  }
}

header.post-header {
  time {
    display: none;
  }
}

article.post {
  .release-install, .release-unavailable {
    margin-top: 50px;
  }
}

/* Modified from bootstrap. */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  &-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }

  &-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
  }

  p {
    margin: 0;
  }

  figure.highlight {
    margin-top: 15px;
    color: black;
  }

  figure.highlight, figure.highlight pre {
    margin-bottom: 0;
  }
}
